<!DOCTYPE html>
<head>
  <title>STUDY SPACE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>STUDY SPACE</h2>
  <p>study space</p>
<html lang="en">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu1">Study Halls</a></li>
    <li><a data-toggle="tab" href="#menu2">Enquiries</a></li>
    <li><a data-toggle="tab" href="#menu3">Expenses</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade">
      <h3>Study halls</h3>
      <p>we r in study halls tab</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Enquiries</h3>
      <p>we r in enquiries tab</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Expenses</h3>
      <p>we r in expenses tab</p>
    </div>
  </div>
</div>

</body>
</html>
